.main-container {
    width: auto;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    border-radius: 20px;
}

input[type="submit"] {
    width: 100px;
    align-content: center;
    margin: auto;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}