.main-container {
    width: 400px;
    height: 300px;
  
    display: flex;
    flex-direction: column;
}
  
  .main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container__players > h3 {
    color: black;
    margin-top: 0;
  }

  .main-container__players > h1 {
    margin-bottom: 4px;
  }

  .main-container__players {
    text-align: center;
    background-color: white;
    padding: 20px;
    height:300px;
    box-shadow: 0px 1px 20px rgba(0,0,0,.15);
  }

  .main-container__players > ul {
    padding: 0;
  }

  .main-container__players > ul > li {
    list-style-type: none;
  }

  .main-container__gameoperations {
    background-color: grey;
    padding: 20px;
    padding-top: 0;
    height: 50px;
  }

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

  #nav {
    height: 100px;
    overflow: scroll;
  }
